body{
    padding:0;
    margin:0;
    font-family:Arial;
    background-color:grey;
}

h1{
    background-color: green;
    color:#fff;
    margin:0;
    padding:0;
}

div > div{
    padding-top: 20px;
    width:85%;
    margin:auto;
}

table{
    width:100%;
    padding:0;
    margin:0;
    border-collapse:collapse;
    background-color:#fff;
    border-radius: 0 0 10px 10px;
    caption{
        border-radius: 10px 10px 0 0;
        width:100%;
        font-size:2em;
        text-align:center;
        background-color:green;
        color:white;
        margin:0;
        padding:0;
    }
    thead{
        padding:0;
        margin:0;
    }

    img{
        width:50px;
        height:50px;
        border: 2px solid green;
        border-radius: 5px;
    }

    a{
        color:#045ae5;
        text-decoration: none;
        font-family: Arial;
        font-size:1.5em;
        margin-bottom:20px;
    }

    a:hover{
        text-decoration:underline;
    }
}

table, th, td{
    border:1px solid grey;
}